{% import 'macros.jinja' as macros %}
{% for qa in qas %}
    {{ macros.render_qa(qa) }}
    <form>
        <input type="hidden" name="id" value="{{ qa.id }}"/>
        <button hx-post="/tg-web-app/select/"
                hx-swap='none'
                hx-vals='js:{init: window.Telegram.WebApp.initData}'>
            select
        </button>
    </form>
    {% if not loop.last %}<hr/>{% endif %}
{% endfor %}
