<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        {% include "og.jinja" %}
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"/>
        <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
