<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"/>
        <title>Item Details</title>
    </head>
    <script type="text/javascript">
    Telegram.WebApp.ready();
    Telegram.WebApp.MainButton.setText('Click').show().onClick(function () {
        const data = "from tg";
        Telegram.WebApp.sendData(data);
    });
    </script>
    <body>
        <h1>Item ID: {{ id }}</h1>
    </body>
    <script type="text/javascript">Telegram.WebApp.expand();</script>
</html>
