{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        {% include "og.jinja" %}
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"/>
        <script type="text/javascript" src="{{ url_for('static', path='js/webmenu.js')|https }}"></script>
        <title>Item Details</title>
    </head>
    <body>
        {{ fname }}
        <form action="/menu" method="get">
            <input type="text" id="fname" name="fname" value="John"/>
            <input type="submit" value="Submit"/>
        </form>
        {{ macros.render_qas(qas) }}
    </body>
</html>
