<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta property="og:title" content="{{ og_title }}"/>
        <meta property="og:description" content="{{ og_description }}"/>
        <meta property="og:image"
              content="{{ url_for('static', path='wizard.jpg')|https }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ request.url|https }}"/>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"/>
        <title>Item Details</title>
    </head>
    <script type="text/javascript" src="/static/js/webmenu.js"></script>
    <body>
        <h1> {{ og_title }}</h1>
        <p> {{ og_description }}</p>
    </body>
    <script type="text/javascript">Telegram.WebApp.expand();</script>
</html>
