{% macro render_qa(qa) %}
    <h1>{{ qa.title }}</h1>
    <p>{{ qa.type }}</p>
    {% for answer in qa.answers %}<p>{{ answer }}</p>{% endfor %}
{% endmacro %}
{% macro render_qas(qas) %}
    {% for qa in qas %}
        {{ render_qa(qa) }}
        {% if not loop.last %}<hr/>{% endif %}
    {% endfor %}
{% endmacro %}
