
<meta property="og:title" content="{{ og_title }}"/>
<meta property="og:description" content="{{ og_description }}"/>
<meta property="og:image"
      content="{{ url_for('static', path='wizard.jpg')|https }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ request.url|https }}"/>
